body {
  margin: 1rem;
}

li span {
  font-weight: bold;
}

/* -------------------- Breadcrumb menu -------------------- */
ul.breadcrumb {
  padding: 0.6rem 0.1rem;
  list-style: none;
}


ul.breadcrumb li {
  display: inline;
  font-size: 1.2rem;
}


ul.breadcrumb li + li:before {
  padding: 0.5rem;
  color: #3b312b;
  content: "/\00a0";
}


ul.breadcrumb li a {
  color: #3b312b;
  text-decoration: none;
}


ul.breadcrumb li a:hover {
  color: #3b312b;
  text-decoration: underline;
}

ul.breadcrumb li:last-child {
  color: #51a483;
}

/*Button*/
.btn {
  text-align: center;
  align-content: center;
  display: inline-block;
  border-radius: 10%;
  text-decoration: none;
}


div button a {
  color: #fcfafa;
  text-decoration: none;
}

/*-------------------------------Gallery with Lightbox Effect---------------------------*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
  margin: 2rem;
}

.gallery-item {
  flex: 1 1 25%;
  position: relative;
  box-sizing: border-box;
  min-width: 8.8rem;
  overflow: clip;
  max-width: 90%;
}

.gallery-item img,
.gallery-item video {

  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10%;
}

/* .gallery img:hover {
  transform: scale(1.05);
} */

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 3.8rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(59, 49, 43, 0.95);
}

.lightbox-content img,
.lightbox-content video {
  max-width: 85vw;
  max-height: 85vh;
  object-fit: contain;
  display: block;
  justify-content: center;
  align-items: center;
}


.lightbox-content img,
.lightbox-content video {
  max-width: 100%;
  max-height: 100%;
  /*object-fit: contain;*/
  /*display: block;*/
  margin: auto;
  width: 80%;
  /*height: auto;*/
}

.caption {
  display: block;
  width: 80%;
  max-width: 44rem;
  text-align: center;
  color: #ccc;
  padding: 0.6rem 0;
  margin: auto auto 1.3rem;
}

.close,
.prev,
.next {
  position: absolute;
  top: 50%;
  color: #f1f1f1;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.close {
  top: 1rem;
  right: 2.2rem;
}

.prev {
  left: 0;
  transform: translateY(-50%);
}

.next {
  right: 0;
  transform: translateY(-50%);
}

.close:hover,
.close:focus,
.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
  color: #bbb;
}

/*-----------------------------Map---------------------------------------------------*/
#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
#map {
  height: 20em;
  width: 80%;
}
