@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

* {
  color: #3b312b;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
}

body {
  background-color: #faf7f7;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #51a483;
  word-break: break-word;
}

a:hover {
  color: #3b312b;
}

main {
  padding: 2rem;
}

.content {
  flex: 1;
}

.btn {
  background-color: #3b312b;
  border: none;
  color: #fcfafa;
}

.btn:hover {
  background-color: #51a483;
}

/* ---------- Navbar ---------- */
.navbar {
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.custom-navbar-color {
  background-color: #bcf4de;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(81, 164, 131, 0.3);
}

.nav-link {
  padding: 1.5rem 3rem;
}

.navbar-nav {
  height: 100%;
}

.navbar-brand {
  padding: 0.5rem 1.5rem !important;
}

.navbar-brand:hover {
  background-color: rgba(81, 164, 131, 0.3);
}

.navbar .navbar-expand-sm .custom-navbar-color {
  margin: 0;
  padding: 0;
}

.navbar-toggler {
  border: none !important;
  margin-right: 1rem;
}

.navbar-toggler:focus {
  outline: 0.5rem !important;
  box-shadow: 0 0 8px 2px rgba(59, 49, 43, 0.3) !important;
}

.active {
  background-color: rgba(81, 164, 131, 0.3);
}

/* ---------- Footer ---------- */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #3b312b;
  margin-top: auto;
}

.footer-text {
  color: #fcfafa;
  font-size: small;
}
