body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-5 {
  width: fit-content;
  height: fit-content;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.fab {
  text-decoration: none;
  color: #3b312b;
}

.fab:hover {
  color: #5bae8d;
}

.btn-secondary {
  background-color: #3b312b;
  color: #fcfafa;
  border: none;
}

.btn-secondary:hover {
  background-color: #5bae8d;
  color: #fcfafa;
  border: none;
}

#category-header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  position: relative;
  height: 10rem;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#category-header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(59, 49, 43, 0.5);
  z-index: 1;
}

#category-header h1 {
  z-index: 2;
  position: relative;
  font-weight: 400;
}

.category-card,
.post-card {
  height: 200px;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.category-card:hover,
.post-card:hover {
  transform: scale(1.05);
}

.category-card .card-body,
.post-card .card-body {
  background: rgba(59, 49, 43, 0.5);
  border-radius: 10px;
  color: #fcfafa;
}

.post-card img {
  height: 200px;
  object-fit: cover;
}

.post-card .card-body {
  color: #3b312b;
  background: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.post-card {
  height: fit-content;
  width: fit-content;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid #51a483;
}
