.container {
  margin: auto;
  align-items: center;
  max-width: 800px;
}

/* ---------- Masthead ---------- */
.masthead::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(250, 247, 247, 0.5);
}

.masthead {
  background-image: url("./20221227_180352_edited.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  position: relative;
  height: 30rem;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.masthead .masthead-subheading {
  position: relative;
  font-size: 1.25rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.masthead-heading {
  position: relative;
  font-size: 3rem;
  line-height: 0.9;
}

/* ---------- Intro ---------- */
.page-section {
  display: flex;
}

.theresia-portrait {
  margin: 2rem 0 0.5rem 0;
}
