.container {
    margin: auto;
    align-items: center;
    max-width: 800px;
}

/* ---------- Masthead ---------- */
.masthead {
    height: 30rem;
    text-align: center;
    background-image: url("Blog Posts/Cancun/20221227_180352 (1).jpg");
    /*background-color: #51a483;*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.masthead-heading {
    font-size: 3rem;
    line-height: 0.9;
}

/* ---------- Intro ---------- */
.page-section {
    display: flex;
}

.theresia-portrait {
    margin: 2rem 0 0.5rem 0;
}
